body {
    background: DeepSkyBlue;
    font-family: 'Roboto', sans-serif;
}

table {
    border: 1px solid black;
}

h1  {
    color: yellow;
    text-align: center;
}

h2 {
    color: Snow;
    text-align: center;
}

h3 {
    color: Snow
}

th, td {
    border: 1px solid black;
}

.bottom {
    text-align: center;
    font-weight: bold;
}

.AllTabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 50px auto;
    padding: 25px;
}

.AllTabs input[type="radio"] {
    display: none;
}

.AllTabs label {
    padding: 25px;
    background: yellow;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.AllTabs .tab {
    width: 100%;
    padding: 25px;
    background: Snow;
    text-align: center;
    order: 1;
    display: none;
}


/* checks for element label that is chosen */
.AllTabs input[type="radio"]:checked+label+.tab {
    display: block;
}

.AllTabs input[type="radio"]:checked+label {
    background: Snow;
}
