body {
    background: DeepSkyBlue;
    font-family: 'Roboto', sans-serif;
}

table {
    border: 1px solid black;
}

h1  {
    color: Snow;
    text-align: center;
}

th,
td {
    border: 1px solid black;
}

.SUID {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 50px auto;
    padding: 25px;
}

.SUID input[type="radio"] {
    display: none;
}

.SUID label {
    padding: 25px;
    background: yellow;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.SUID .tab {
    width: 100%;
    padding: 25px;
    background: Snow;
    text-align: center;
    order: 1;
    display: none;
}


/* checks for element label that is chosen */
.SUID input[type="radio"]:checked+label+.tab {
    display: block;
}

.SUID input[type="radio"]:checked+label {
    background: Snow;
}
