<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='decor.css') }}">
    <title>Front Page</title>
</head>

<body>
    <h1>Destiny 2 Exotic Armor Database</h1>
    <h2>“I bring gifts of the Nine. Gifts you sorely need.” -Xur</h2>

    <div class="AllTabs">
        <input type="radio" id="Users" name="Tabs" checked="checked">
        <label for="Users">Users</label>
        <div class="tab">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Region</th>
                    <th>DLCOwned</th>
                    <th>Status</th>
                </tr>
                {% for row in Users %}
                <tr>
                    <td>{{row["id"]}}</td>
                    <td>{{row["region"]}}</td>
                    <td>{{row["dlcOwned"]}}</td>
                    <td>{{row["status"]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <input type="radio" id="Bungie" name="Tabs">
        <label for="Bungie">Bungie</label>
        <div class="tab">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Vendor</th>
                    <th>Season</th>
                </tr>
                {% for row in Devs %}
                <tr>
                    <td>{{row["id"]}}</td>
                    <td>{{row["vendor"]}}</td>
                    <td>{{row["season"]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <input type="radio" id="GameActivities" name="Tabs">
        <label for="GameActivities">GameActivities</label>
        <div class="tab">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>DLC</th>
                    <th>Season</th>
                </tr>
                {% for row in GAs %}
                <tr>
                    <td>{{row["name"]}}</td>
                    <td>{{row["type"]}}</td>
                    <td>{{row["dlc"]}}</td>
                    <td>{{row["season"]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <input type="radio" id="DLC" name="Tabs">
        <label for="DLC">DLC</label>
        <div class="tab">
            <table>
                <tr>
                    <th>Season</th>
                    <th>Seasonpass</th>
                    <th>Subclass</th>
                    <th>Order_r</th>
                    <th>Campaign</th>
                </tr>
                {% for row in DLCs %}
                <tr>
                    <td>{{row["season"]}}</td>
                    <td>{{row["seasonpass"]}}</td>
                    <td>{{row["subclass"]}}</td>
                    <td>{{row["order_r"]}}</td>
                    <td>{{row["campaign"]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <input type="radio" id="Armor" name="Tabs">
        <label for="Armor">Armor</label>
        <div class="tab">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Subclass</th>
                    <th>Season</th>
                    <th>Ornament</th>
                    <th>Slot</th>
                </tr>
                {% for row in Armors %}
                <tr>
                    <td>{{row["name"]}}</td>
                    <td>{{row["class"]}}</td>
                    <td>{{row["subclass"]}}</td>
                    <td>{{row["season"]}}</td>
                    <td>{{row["ornament"]}}</td>
                    <td>{{row["slot"]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <input type="radio" id="Character" name="Tabs">
        <label for="Character">Character</label>
        <div class="tab">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Class</th>
                    <th>Subclass</th>
                    <th>UserID</th>
                </tr>
                {% for row in Chars %}
                <tr>
                    <td>{{row["id"]}}</td>
                    <td>{{row["class"]}}</td>
                    <td>{{row["subclass"]}}</td>
                    <td>{{row["userID"]}}</td>
                </tr>
                {% endfor %}
            </table>

        </div>
    </div>
    <h3>Manipulate the tables here!</h3>
    <a href="{{url_for('start_query')}}">Query</a>
</body>

</html>
